.row{
    background-color: #355443 ;
    padding: 20px;
    margin-top: 7px;
}

footer{
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
}