
<div class="row">
    <h1>Formacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg 11">

        <ul>
           <li><h1>Educacion 1</h1> - <h3>(años - años)</h3></li>
           <p>
            Parrafo de cualquier cosa describiendo lo que hice en la experiencia labora y puedan
            leer todo lo lindo y capaz que soy
           </p>
        </ul>

        <ul>
           <li><h1>Educacion 2</h1> - <h3>(años - años)</h3></li>
           <p>
            Parrafo de cualquier cosa describiendo lo que hice en la experiencia labora y puedan
            leer todo lo lindo y capaz que soy
           </p>
        </ul>

        <ul>
           <li><h1>Educacio 3</h1> - <h3>(años - años)</h3></li>
           <p>
            Parrafo de cualquier cosa describiendo lo que hice en la experiencia labora y puedan
            leer todo lo lindo y capaz que soy
        </ul>
    </div>  
</div>