<div class="text-center row">
  <h1>Proyectos Realizados</h1>

  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h1>Mi primer portafolio</h1>
      <h5>Desarrollado con mucho empeño y dedicacion. No faltaron los fracasos, trabas y ganas del abandono.
         Mi primera experiencia en no darse por vencido, respirar y continuar. 
      </h5>
    </div>

<div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
    <img src="../../../assets/img/MiProyecto.png" class="img-fluid img-proyecto">
</div>

  </div>
</div>
