.row{
    padding: 20px;
    background-color: #050407;
    font-family: 'Poppins';
}

.contenedor{
    width: auto;
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}

.img-proyecto{
    box-shadow: 10px 10px 15px #7A698F;
}
h1{
    color:#ffffff;
}

h5{
    color:#474747;
}