.row{
    padding: 20px;
}
div{
    background-color: #050407;
    text-align: center;   
}

/* Etiqueta Nombre*/

#nombre{
    font-family:'Poppins';
    font-weight: bold;
    font-size: 200%;
    display: inline;
    margin-top: 10%;
}

/*Etiqueta foto de Perfil*/

@media (min-width: 530px) {
#fotoperfil{
    position: absolute;
    width: 15%;
    left: 1%;
    top: 125%;
  border-radius: 100%;
  box-shadow: 3px 3px 15px #7A698F;
}
#acercademi{
    border-style: solid;
    border-color: #ffffff;
    border-width: 0px 0px 0px 2px;
}
}

@media (max-width: 730px) {
    #fotoperfil{
        position: absolute;
        width: 15%;
        left: 1%;
        top: 71%;
       border-radius: 100%;
       box-shadow: 3px 3px 15px #5a5a5a;
    }
    }


@media (max-width: 576px){
    #fotoperfil{
        position:relative;
        width: 50%;
        border-radius: 100%;
        align-content: center;
        top: 0%;
    }


    
}

h5, h1{
   font-family: 'Poppins';
}

h1{
    color:#ffffff;
}
h5{
    color:#474747;
}

