
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img id="fotoperfil" src="../../../assets/img/FotoPerfil.jpg" class="img-fluid">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Franco Matias Cuello</p>
        <p>Estudiante de Ing Industrial y Full Stack Web</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Me gusta mucho... tengo como motivacion tal cosa, y mi deseo es otra cosa</p>
        </span>
    </div>
</div>