<!-- 
<section class="vh-100 gradient-custom">
    <div class="container px-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem">
            <div class="card-body py-2 px-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">Modificar Acerca de mi</h2>
                <p class="text-white-50 mb-5">Por favor, edite los campos</p>
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                  <div class="row mb-4">
                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label" for="nombre">Descripcion</label>
                        <input
                          type="text"
                          id="desarrollo"
                          name="desarrollo"
                          class="form-control"
                          [(ngModel)]="acercad.desarrollo"
                          required
                        />
                      </div>
                    </div>
                  </div>
                 
                 
  
                  Submit button
                  <button type="submit" class="btn btn-outline-light">
                    Editar Perfil
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
