<div class="row">
  <div class="container">
    <div class="logoAp">
      <img src="../../../assets/img/APLogo.png" id="logoAp" />
    </div>

    <div class="logoRedes">
      <a href="https://www.facebook.com/FrancoV.A.P/"><img src="../../../assets/img/facebook.png" id="Redes" /></a>

      <a href="https://www.instagram.com/franco.m.cuello/"><img src="../../../assets/img/instagram.png" id="Redes" /> </a>

      <a href="https://www.linkedin.com/in/franco-cuello-6a5b7811a/"><img src="../../../assets/img/linkedin.png" id="Redes" /> </a>

      <a href="https://github.com/FrancoMCuello"><img src="../../../assets/img/github.png" id="Redes" /> </a>

      <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
      <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>

    </div>
    
  </div>
</div>
